## Aula 01 - Python Avançado
### Analise de Dados

*Pandas*

In [51]:
import pandas as pd

df = pd.read_csv('estoque.csv')
#ver primeiras linhas do dataframe
display(df.head(2))

print('\n________________________________\n')

#ver colunas do dataframe
#print(df.columns)

for i in df.columns:
    print(i)

    tipo      marca modelo   ano    cor  quantidade  valor
0   Moto     Yamaha    R15  2025  Preto           5  21000
1  Carro  Chevrolet  Opala  1980   Azul           2  35000

________________________________

tipo
marca
modelo
ano
cor
quantidade
valor

In [52]:
import pandas as pd

#ver uma coluna específica
print(df['marca'])

print('\n________________________________\n')

#ver várias colunas específicas
print(df[['marca','valor']])

0        Yamaha
1     Chevrolet
2      kawasaki
3          Ford
4     Chevrolet
5        Toyota
6         Honda
7        Ducati
8           BMW
9    Volkswagen
Name: marca, dtype: object

________________________________

        marca   valor
0      Yamaha   21000
1   Chevrolet   35000
2    kawasaki  150000
3        Ford  300000
4   Chevrolet   12000
5      Toyota  130000
6       Honda   18000
7      Ducati  280000
8         BMW  200000
9  Volkswagen   25000

In [53]:
#agrupar os dados pela coluna marca
#quantos tipos de marcas diferentes existem no estoque
grupo_marca = df.groupby('modelo')["modelo"].count()
print(grupo_marca)

print('\n________________________________\n')

cores = df.groupby('cor')["cor"].count()
print(cores)

modelo
Chevette       1
Corolla        1
Fox            1
Mustang        1
Ninja H2R      1
Opala          1
Panigale V4    1
R15            1
S1000RR        1
hornet 600     1
Name: modelo, dtype: int64

________________________________

cor
Amarela     1
Azul        2
Branco      1
Cinza       1
Prata       1
Preto       1
Verde       1
Vermelho    2
Name: cor, dtype: int64

In [54]:
#criar uma coluna nova

df['faturamento'] = df['quantidade'] * df['valor']

display(df.head())

,tipo,marca,modelo,ano,cor,quantidade,valor,faturamento
0,Moto,Yamaha,R15,2025,Preto,5,21000,105000
1,Carro,Chevrolet,Opala,1980,Azul,2,35000,70000
2,Moto,kawasaki,Ninja H2R,2024,Verde,3,150000,450000
3,Carro,Ford,Mustang,2022,Vermelho,4,300000,1200000
4,Carro,Chevrolet,Chevette,1985,Branco,1,12000,12000

In [55]:
#qual o valor total desse estoque

total = df['faturamento'].sum()

print(f'O valor total do estoque é de R$ {total} reais.')

print('\n________________________________\n')

estoque = df['quantidade'].sum()
print(f'A quantidade total de itens no estoque é de {estoque} unidades.')

estoque_tipo = df.groupby('tipo')['quantidade'].sum()
print(estoque_tipo)

# valor total por marca

valor_marca = df.groupby('marca')['faturamento'].sum()
print(valor_marca)

O valor total do estoque é de R$ 4003000 reais.

________________________________

A quantidade total de itens no estoque é de 36 unidades.
tipo
Carro    23
Moto     13
Name: quantidade, dtype: int64
marca
BMW            400000
Chevrolet       82000
Ducati         280000
Ford          1200000
Honda           36000
Toyota        1300000
Volkswagen     150000
Yamaha         105000
kawasaki       450000
Name: faturamento, dtype: int64

In [56]:
#filtros
#filtrar o estoque com veiculos com até 10 anos de uso
novos = df[df['ano'] >= 2015]
display(novos)

print('\n____________________________________________________________________________________\n')

#filtro - carregar apenas os carros

carros = df[df['tipo'] == 'Moto']
display(carros)

,tipo,marca,modelo,ano,cor,quantidade,valor,faturamento
0,Moto,Yamaha,R15,2025,Preto,5,21000,105000
2,Moto,kawasaki,Ninja H2R,2024,Verde,3,150000,450000
3,Carro,Ford,Mustang,2022,Vermelho,4,300000,1200000
5,Carro,Toyota,Corolla,2023,Prata,10,130000,1300000
7,Moto,Ducati,Panigale V4,2023,Vermelho,1,280000,280000
8,Moto,BMW,S1000RR,2024,Azul,2,200000,400000

____________________________________________________________________________________

,tipo,marca,modelo,ano,cor,quantidade,valor,faturamento
0,Moto,Yamaha,R15,2025,Preto,5,21000,105000
2,Moto,kawasaki,Ninja H2R,2024,Verde,3,150000,450000
6,Moto,Honda,hornet 600,2005,Amarela,2,18000,36000
7,Moto,Ducati,Panigale V4,2023,Vermelho,1,280000,280000
8,Moto,BMW,S1000RR,2024,Azul,2,200000,400000

In [2]:
# criar consulta de veiculos por cores

print('pesquise veiculos pela cor desejada')
cor = input('Digite a cor desejada: ')
consulta = df[df['cor'] == cor]
display(consulta)

pesquise veiculos pela cor desejada

NameError: name 'df' is not defined