# Exercícios - Salarios de São Francisco

Bem-vindo a um exercício rápido para você praticar suas habilidades de pandas! Vamos usar o [Dataset SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) da Kaggle! Basta acompanhar e completar as tarefas descritas em negrito abaixo. As tarefas se tornarão cada vez mais difíceis.

**Importe o pandas como pd.**

In [ ]:
%pip install pandas

import pandas as pd

**Leia o arquivo Salaries.csv como um DataFrame chamado "sal".**

In [5]:
sal = pd.read_csv('Salaries.csv')

**Verifique o "head" do DataFrame.**

In [6]:
display(sal.head())

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use o método .info () para descobrir quantas entradas existem.**

In [12]:
# Informações gerais sobre o DataFrame
print(sal.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148045 non-null  float64
 4   OvertimePay       148650 non-null  float64
 5   OtherPay          148650 non-null  float64
 6   Benefits          112491 non-null  float64
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            0 non-null       float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB
None

**Quantidade de funcionários e por JobTitle**<br>
**Total gasto e por agência**<br>
**Média de salário por JobTitle**<br>
**Total de horas extras**<br>

In [38]:
Func = sal['EmployeeName'].unique()
qtdefunc = len(Func)
print(f'Quantidade de funcionários únicos: {qtdefunc}')

print ("_____________________________________________________________")

jobFunc = sal.groupby("JobTitle")["Id"].count()
print(jobFunc)

print ("_____________________________________________________________")

totalSal = sal['OvertimePay'].sum()
print(f'A maior quantidade de horas extras foi: ${totalSal}')

Quantidade de funcionários únicos: 110811
_____________________________________________________________
JobTitle
ACCOUNT CLERK                                      83
ACCOUNTANT                                          5
ACCOUNTANT INTERN                                  48
ACPO,JuvP, Juv Prob (SFERS)                         1
ACUPUNCTURIST                                       1
                                                 ...
X-RAY LABORATORY AIDE                              26
X-Ray Laboratory Aide                             100
YOUTH COMMISSION ADVISOR, BOARD OF SUPERVISORS      1
Youth Comm Advisor                                  4
ZOO CURATOR                                         1
Name: Id, Length: 2159, dtype: int64
_____________________________________________________________
A maior quantidade de horas extras foi: $753069802.12

##### Qual é o "BasePay"?

In [39]:
midiasal = sal['BasePay'].mean()

mes = midiasal / 12
print(f'O salário base médio é: ${mes:.2f}')

O salário base médio é: $5527.12

##### Qual é a maior quantidade de "OvertimePay" no conjunto de dados

In [40]:
MaiorOvertime = sal['OvertimePay'].max()
print(f'A maior quantidade de "OvertimePay" no conjunto de dados é: ${MaiorOvertime}')

A maior quantidade de "OvertimePay" no conjunto de dados é: $245131.88

**Qual é o cargo de JOSEPH DRISCOLL? Nota: use todas as maiúsculas, caso contrário você pode obter uma resposta que não coincida (há também um Joseph Driscoll com minúsculas).**

In [41]:
CargoJoseph = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['JobTitle'].values[0]
print(f'O cargo de JOSEPH DRISCOLL é: {CargoJoseph}')

O cargo de JOSEPH DRISCOLL é: CAPTAIN, FIRE SUPPRESSION

**Quanto JOSEPH DRISCOLL ganha (incluindo benefícios)?**

In [51]:
PaymentsJoseph = sal[sal['EmployeeName'] == 'JOSEPH DRISCOLL']['TotalPayBenefits'].values[0]

print(f'O total de pagamento de JOSEPH DRISCOLL é: ${PaymentsJoseph}')

O total de pagamento de JOSEPH DRISCOLL é: $270324.91

**Qual o nome da pessoa mais bem paga (incluindo benefícios)?**

In [52]:
maxSal = sal['TotalPayBenefits'].max()
empMaxSal = sal[sal['TotalPayBenefits'] == maxSal]['EmployeeName'].values[0]
print(f'O funcionário com o maior salário total é: {empMaxSal} com um salário de: ${maxSal}')

O funcionário com o maior salário total é: NATHANIEL FORD com um salário de: $567595.43

**Qual o nome da pessoa paga mais baixa (incluindo benefícios)? Você percebe algo estranho sobre o quanto ele ou ela é paga?**

In [57]:
minSal = sal['TotalPayBenefits'].min()
empMinSal = sal[sal['TotalPayBenefits'] == minSal]['EmployeeName'].values[0]
print(f'O funcionário com o maior salário total é: {empMinSal} com um salário de: ${minSal}')

O funcionário com o maior salário total é: Joe Lopez com um salário de: $-618.13

**Qual foi a média (média) BasePay de todos os funcionários por ano? (2011-2014)?**

In [61]:
MediaAnoSalBase = sal.groupby('Year')['BasePay'].mean()

print("Média anual do salário base:")
print(MediaAnoSalBase)

Média anual do salário base:
Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

**Quantos títulos de trabalho únicos existem?**

In [64]:
TrabalhosUnicos = sal['JobTitle'].nunique()
print(f'Número de trabalhos únicos: {TrabalhosUnicos}')

Número de trabalhos únicos: 2159

**Quais são os 5 principais empregos mais comuns?**

In [79]:
empregosTop5 = sal["JobTitle"].value_counts().head(5)
print("Top 5 empregos mais comuns:")
print(empregosTop5)

Top 5 empregos mais comuns:
JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

**Quantos Títulos de Trabalho foram representados por apenas uma pessoa em 2013? (Por exemplo, títulos de trabalho com apenas uma ocorrência em 2013?)**

In [98]:
x = sal[sal['Year'] == 2013]
onejob= sum(x['JobTitle'].value_counts() == 1)
print(f"teve no total {onejob} trabalhos que foram exercidos por apenas uma pessoa em 2013")

teve no total 202 trabalhos que foram exercidos por apenas uma pessoa em 2013

**BONUS - Quantas pessoas têm a palavra Chefe em seu cargo?**

In [ ]:
PaymentsJoseph = sal[sal['jobTltle'] == 'CHIEF'].values[5]
print(f'O total de pagamento de CHIEF é: ${PaymentsJoseph}')

SyntaxError: closing parenthesis ']' does not match opening parenthesis '{' (113457975.py, line 1)