## Ocorrencias

In [68]:
import pandas as pd

In [69]:
df = pd.read_csv('OCORRENCIAS.csv', sep=';', encoding='latin1')
display(df.head())

,ANO_OCORRENCIA,MES_OCORRENCIA,UF,MUNICIPIO,ESPECIE_ARMA,MARCA_ARMA,CALIBRE_ARMA,TIPO_OCORRENCIA,MAIS_1000_MIL_HAB,TOTAL
0,2025,1,AC,ACRELÂNDIA,Espingarda ...,ROSSI (AMADEO ROSSI S.A.) ...,36 ...,Apreensão de Arma de Fogo ...,N,1
1,2025,1,AC,CRUZEIRO DO SUL,Espingarda ...,ROSSI (AMADEO ROSSI S.A.) ...,28 ...,Extravio/Perda de Arma de Fogo ...,N,1
2,2025,1,AC,FEIJÓ,Espingarda ...,CBC (COMPANHIA BRASILEIRA DE CARTUCHOS) ...,28 ...,Extravio/Perda de Arma de Fogo ...,N,1
3,2025,1,AC,RIO BRANCO,Espingarda ...,ROSSI (AMADEO ROSSI S.A.) ...,36/.22LR (duplo cano) ...,Extravio/Perda de Arma de Fogo ...,S,2
4,2025,1,AC,RIO BRANCO,Pistola ...,TAURUS ARMAS S.A. ...,.380 ACP ...,Roubo de Arma de Fogo ...,S,1

In [70]:
for colunas in df.columns:
    print(colunas)

ANO_OCORRENCIA
MES_OCORRENCIA
UF
MUNICIPIO
ESPECIE_ARMA
MARCA_ARMA
CALIBRE_ARMA
TIPO_OCORRENCIA
MAIS_1000_MIL_HAB
TOTAL

## Quantas Ocorrencias teve no ano de 2025

In [71]:
## Quantas Ocorrencias teve no ano de 2025
print('No ano de 2025 houve', df.groupby('ANO_OCORRENCIA').size()[2025], 'Ocorrencias')

No ano de 2025 houve 6714 Ocorrencias

# KPI's
## 1 Listar os municipios com mais ocorrencias
## listar os municipios com menos ocorrencias

In [116]:
municipios = df.groupby('MUNICIPIO')["TOTAL"].sum()
print('Municipio com menos ocorrencias:', municipios)

print('____________________________________________________')

top5mais = municipios.nlargest(10)
display('Top 10 municipios com mais ocorrencias:', top5mais)

print('____________________________________________________')

top5menos = municipios.nsmallest(10)
display('Top 10 minucipios com menos ocorrencias:', top5menos)

Municipio com menos ocorrencias: MUNICIPIO
                                       25
ABADIA DE GOIÁS                         1
ABAETETUBA                              1
ABAETÉ                                  4
ABAIARA                                 1
                                       ..
ÁGUAS FORMOSAS                          2
ÁGUAS FRIAS                             2
ÁGUAS LINDAS DE GOIÁS                   2
ÁLVARES MACHADO                         4
ÁUREA                                   2
Name: TOTAL, Length: 1537, dtype: int64
____________________________________________________

'Top 10 municipios com mais ocorrencias:'

MUNICIPIO
PORTO ALEGRE                           302
BRASÍLIA                               233
SÃO PAULO                              156
BELO HORIZONTE                         131
FORTALEZA                              116
CAXIAS DO SUL                          113
SALVADOR                               109
RIO DE JANEIRO                          94
GOIÂNIA                                 87
NATAL                                   84
Name: TOTAL, dtype: int64

____________________________________________________

'Top 10 minucipios com menos ocorrencias:'

MUNICIPIO
ABADIA DE GOIÁS                        1
ABAETETUBA                             1
ABAIARA                                1
ABDON BATISTA                          1
ACARAPÉ                                1
ACAUÃ                                  1
ACRELÂNDIA                             1
ALECRIM                                1
ALFENAS                                1
ALIANÇA DO TOCANTINS                   1
Name: TOTAL, dtype: int64

# 2 Tipo de arma mais utilizado

In [133]:
arma = df.groupby('ESPECIE_ARMA')["TOTAL"].sum()
armamais = arma.idxmax()
armamenos = arma.idxmin()
print(F'Tipo de arma mais utilizada: {armamais}')
print(f'Tipo de arma menos utilizada: {armamenos}')

Tipo de arma mais utilizada: Pistola
Tipo de arma menos utilizada: Carabina/cartucheira

# 3 Total de ocorrencias

In [136]:
total_ocorrencias = df['TOTAL'].sum()
print(f'Total de ocorrencias: {total_ocorrencias}')

Total de ocorrencias: 7512

# 4 Histórico de ocoorencias durante o ano

In [148]:
## quantas ocorrencias em media as cidades com mais e menos ocorrencias tiveram
mes = df.groupby('MES_OCORRENCIA')["TOTAL"].sum()
print(f"Segue o histórico de ocorrencias durante o ano")
print(mes)

Segue o histórico de ocorrencias durante o ano
MES_OCORRENCIA
1      925
2      866
3      978
4     1036
5      816
6      928
7     1019
8      675
9      268
10       1
Name: TOTAL, dtype: int64

# 5 Média de ocorrencias entre as cidades com mais e menos Habitantes

In [156]:
## Quantas ocorrencias teve em média entre as cidades com mais e menos ocorrencias
cidadesMil = df.groupby('MAIS_1000_MIL_HAB')["TOTAL"].sum()

print(f'Total de ocorrencias: {total_ocorrencias}\n')

cidademilsim = cidadesMil.get("S")
cidademilnao = cidadesMil.get("N")

Conta1 = cidademilsim / total_ocorrencias
conta2 = cidademilnao / total_ocorrencias

print(f'Porcetagem de ocorrencias entre as cidades com mais de 1000 habitantes: {Conta1:.2%}\n')
print(f'Porcetagem de ocorrencias entre as cidades com menos de 1000 habitantes: {conta2:.2%}')

Total de ocorrencias: 7512

Porcetagem de ocorrencias entre as cidades com mais de 1000 habitantes: 57.44%

Porcetagem de ocorrencias entre as cidades com menos de 1000 habitantes: 42.56%